*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* p{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
} */
/* @keyframes changeBackgroundColor{
    from{
        background-color: #fff;
        border-radius: 0px;
        transform: translate(0px) scale(0);
        
    }
    to{
        background-color: red;
        border-radius: 50px;
        scale: 0.5;
        transform: translate(100px) scale(2);
        
    }
} */
@keyframes animatebgcolor {
    from{
        --bgcolor:red;
        
    }
    to{
        --bgcolor:blue;

    }
}

@property --bgcolor{
    syntax: "<color>";
    initial-value: rgb(0, 191, 255);
    inherits: false;
}
.box{
    height: 200px;
    width: 400px;
    background-color: var(--bgcolor);
    /* animation:changeBackgroundColor 10s infinite forwards alternate; */
    animation:animatebgcolor 10s;

}
/* h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 5px 5px 1px red;
    
} */
