*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
/* div{
    width: 500px;
    height: 500px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 50px;
}
button{
    padding: 5px 10px;
    margin-left: 60px;
    background-color: red;
} */
/* body{
    background: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    width: 300px;
    height: 500px;
    background: #fff;
    padding: 10px;
    border-radius: 30px;
}
#box img{
    width: 280px;
    height: 60%;
    object-fit: cover;
    border-radius: 30px;
}
#box h1{
    text-align: center;
    padding: 5px;
    font-size: 40px;
    color: #787A7C;
}
#box h4{
    text-align: center;
    padding: 2px;
    color: red;
    font-size: 25px;
}
#box button{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px 25px;
    background-color: rgb(82, 222, 82);
    border: none;
    border-radius: 30px;
} */

/* post likes */
/* body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    width: 350px;
    height: 400px;
    border-radius: 10px;
    position: relative;
}
div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
div i{
    font-size: 75px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(0);
    transition: transform ease 0.7s;
} */

/* cursor */
/* main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #cursor{
    height: 15px;
    width: 15px;
    background-color: aliceblue;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
main h1{
    text-align: center;
    font-size: 9vw;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
} */