*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    anchor-name: --some-anchor;
}
.box{
    height: 200px;
    width: 200px;
    
}
.box:hover{
    anchor-name: --some-anchor;
    transform: scale(1.2) !important;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.anchor{
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top:anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
    transition: all 0.3s linear;
}

body:has(.box:hover) .box{
    transform: scale(0.8);
}