*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    /* cursor: none; */
}

/* main{
    height: 100%;
    width: 100%;
    
}
#cursor{
    width: 30px;
    height: 30px;
    object-fit: cover;
    position: fixed;
    transform: translate(-50%,-50%);
} */

