*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
/* main{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card{
    height: 350px;
    width: 280px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
}
.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h3{
    font-size: 34px;
    white-space: nowrap;
}
.card h4{
    font-size: 20px;
    margin-top: 10px;
    color: crimson;
    margin-bottom: 10px;
} */

#box{
    height: 200px;
    width: 200px;
    background-color: red;
}