@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #030f17;
}
main header {
  width: 100%;
  height: 80px;
  padding: 20px;
}
main header nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
main header nav .title {
  color: #f1f5f9;
  text-decoration: none;
  font-size: 30px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main header nav .title span {
  color: #0fbbff;
}
main header nav ul {
  list-style: none;
  margin-top: 10px;
  position: relative;
}
main header nav ul li {
  position: relative;
}
main header nav ul li .home {
  color: #0fbbff;
}
main header nav ul li a {
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
  color: #f1f5f9;
  position: relative;
}
main header nav ul li a:hover {
  color: #0fbbff;
}
main header nav ul li a::after {
  content: "";
  background: #0fbbff;
  position: absolute;
  height: 2px;
  width: 0;
  left: 7px;
  bottom: -2px;
  transition: 0.2s;
  pointer-events: none;
}
main header nav ul li a:hover::after, main header nav ul li .home::after {
  width: 75%;
}
main header nav .btn {
  text-decoration: none;
  color: #f1f5f9;
  margin-top: 10px;
  background-color: #ff499e;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 15px #ff499e;
  transition: all ease 0.7s;
}
main header nav .btn:hover {
  box-shadow: 0 0 30px #ff499e;
}
main .hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 10%;
}
main .hero-container .hero-image img {
  height: 400px;
  width: 400px;
  filter: drop-shadow(0 0 60px #0fbbff);
  border-radius: 100px;
}
main .hero-container .hero-content {
  max-width: 50%;
  color: #f1f5f9;
}
main .hero-container .hero-content h3 {
  font-size: 20px;
  font-weight: 500;
}
main .hero-container .hero-content h1 {
  font-size: 40px;
  font-weight: 700;
}
main .hero-container .hero-content h2 {
  font-size: 20px;
  font-weight: 600;
}
main .hero-container .hero-content h2 span {
  color: #0fbbff;
}
main .hero-container .hero-content p {
  font-size: 15px;
  margin: 1.5rem 0;
}
main .hero-container .social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
main .hero-container .social-icons a {
  display: inline-flex;
  font-size: 2rem;
  background: transparent;
  color: #0fbbff;
  transition: 0.5s;
  text-decoration: none;
}
main .hero-container .social-icons a:hover {
  transform: translateY(-10px);
}
main .hero-container .hero-btn {
  display: flex;
  gap: 3rem;
}
main .hero-container .hero-btn .btn {
  color: #f1f5f9;
  padding: 20px;
  text-decoration: none;
  border: 2px solid #0fbbff;
  border-radius: 40px;
  font-size: 15px;
  transition: all ease 0.7s;
}
main .hero-container .hero-btn .btn:hover {
  background-color: #0fbbff;
}/*# sourceMappingURL=home.css.map */