@font-face {
    font-family: "icons";
    src: url(./sf-pro-text_semibold.woff2);
}
@font-face {
    font-family: "iphone";
    src: url(./sf-pro-text_regular.woff2);
}
@font-face {
    font-family: "display";
    src: url(./sf-pro-display_semibold.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    justify-content: center;
    font-family: "icons";
}
#nav a{
    color: black;
    text-decoration: none;
    font-size: 10px;
    font-weight: 100px;
    padding: 5px;
    margin-top: 6px;
}
i{
    font-size: 25px;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 5px;
    color: black;
}
#offer{
    background-color: #f5f5f7;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#offer a{
    color: blue;
    text-decoration: none;
}
#offer a:hover{
    text-decoration: underline;
}
#iphone{
  margin-top: 30px;
  font-family: "display";
  width: 100%;
  height: auto;
}

#iphone > h1{
  font-size: 70px;
  font-weight: 800px;
  margin-left: 85px;
  margin-bottom: 40px; 
  font-family: "iphone"; 
}

#iphone a{
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  font-family: "display";
  width: 50px;
  margin-left: 60px;
  height: auto;
  size: 2px;

}

#iphone a img{
  width: 50px; 
  margin-bottom: 10px;
  display: block;
}

#iphone a .name{
  font-size: 16px;
  font-weight: 400;
  color: #111;
  margin: 0;
}
#iphone a .new{
  font-size: 14px;
  font-weight: 500;
  color: #e85d04;
  margin: 0;
}
#explore{
  margin-top: 50px;
  font-family: "display";
  width: 100%;
  height: auto;
  background-color: #88888816;
}
#explore > h1{
  font-size: 40px;
  font-weight: 800px;
  margin-left: 85px;
  margin-bottom: 40px; 
  font-family: "iphone"; 
}
#explore a{
  text-decoration: none;
  font-size: 15px;
  font-family: "display";
  width: 10px;
  size: 2px;
  margin-left: 30%;
  color: blue;
}
#explore a:hover{
  text-decoration: underline;
}
#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}
#mobile .box{
  height: auto;
  margin: 5px;
  padding: 5px;
  flex-shrink: 0;
  text-align: center;
  font-family: "iphone";
}
#mobile .box img{
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  flex-shrink: 0;
  text-align: center;
  object-fit: cover;
}
#mobile .box img:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#mobile .box h2{
  font-size: 20px;
  font-weight: 500px;
  color: #111;
  margin: 5px 0;

}
.name1{
  font-size: 14px;
  font-weight: 400;
  color: #111;
  margin: 5px 0;

}
.new1{
  font-size: 14px;
  font-weight: 500;
  color: #e85d04;
  margin: 5px 0;
}
#mobile .box .Learn{
  background-color: rgb(82, 206, 244);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#mobile .box .Learn:hover{
  background-color: rgb(29, 155, 240);
  color: white;
  transition: all 0.3s ease-in-out;
}
#mobile .box .Buy{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  border: none;
  cursor: pointer;
}
#moblie .box a{
  text-decoration: none;
  font-size: 12px;
  color: blue;
}